@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.App {
	text-align: center;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
	width: 100%;
	height: 100vh;
	color: whitesmoke;
	background: linear-gradient(-45deg, #e62e00, #ff5c33, #ff8566, #ffc2b3);
	background-size: 2500% 2500%;
	animation: gradientBG 15s ease infinite;
	font-family: 'Indie Flower', cursive;
	padding: 20px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	color: whitesmoke;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	color: whitesmoke;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	color: whitesmoke;
}

p {
	color: whitesmoke;
	font-family: 'Indie Flower', cursive;
}

li {
	color: whitesmoke;
	font-family: 'Indie Flower', cursive;
}

.article-cards {
	background-color: #ff8566;
	font-family: 'Indie Flower', cursive;
	color: whitesmoke;
	border: 1px dashed #ff5c33;
}

nav {
	font-family: 'Indie Flower', cursive;
	margin: 15px;
	padding-right: 10px;
}
